#player {
    width: 800px;
}

.js-video-container {
    height: 600px;
}

.buttons-container {
    background-color: black;
}

.button {
    border-style: none;
    color: white;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}

