.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}

.screen {
    flex-grow: 1;
}

.bottom-controls {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.viewing-panel {
    flex-grow: 1;
}

.player-button {
    padding: 0 0.5em;
    font-size: x-large;
    border-style: none;
    color: white;
    background-color: transparent;
}

.player-left-buttons .player-button {
    width: 1.4em;
}

.player-button:hover {
    cursor: pointer;
}



