.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}

.screen {
    flex-grow: 1;
}

.bottom-controls {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 2.6em;
}

.viewing-panel {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0.3em;

}

.player-button {
    font-size: x-large;
    border-style: none;
    color: white;
    background-color: transparent;
    padding-top: 0.2em;
}

.player-left-buttons {
    margin-left: 0.1em;
    margin-right: -0.2em;
}

.player-left-buttons .player-button {
    width: 1.4em;
}

.player-button:hover {
    cursor: pointer;
}

.fa-play, .fa-pause, .fa-volume-up, .fa-volume-off, .fa-expand {
    font-size: 0.8em;
}

.fa-expand {
    padding-top: 1px;
    padding-right: 0.2em;
}

.fa-volume-off {
    margin-right: 0.5em;
}

.progress-time {
    color: white;
    font-family: 'Roboto', sans-serif;

}

.progress-bar {
    display:flex;
    width: 100%;
    height: 1em;
    background: none;
    padding: 0 0.6em;
}

.progress-bar-slider {
    background-color: var(--red);
    height: 0.3em;
    margin-top: 0.5em;
    border-radius: 0.3em;
}

.progress-pointer {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--red);
    border: white solid 3px;
    border-radius: 50%;
    margin-top: 0.2em;
    margin-left: -0.2em;

}

:root {
    --red: #f8104d;
}